html {
    height: 100%;
}

body {
    height: 100%;
}

.container-fluid {
    min-height: 100%;
    height: 100%;
}

.header {
    height: 10%;
    background-color: gold;
}

#sideBar {
    padding: 0;
    background-color: lightgrey;
}

.list-group > button.active {
    background-color: #666666;
    border-color: black;
}

.list-group > button {
    color: white;
    background-color: lightgrey;
    border-radius: 10px !important;
}

input {
    background-color: white;
}

.list-group > button:hover {
    color: white;
    background-color: #666666;
    border-color: black;
}

.version {
    margin-top: 5vh;
}

.title {
    font-size: 6vh;
    color: #ffffff;
}

.success {
    background-color: #57b846;
    border-radius: 15px;
    opacity: 0.5;
    text-align: center;
    height: 50px;
    margin: 35px;
    line-height: 50px;
}

.success > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.error {
    background-color: lightcoral;
    border-radius: 15px;
    opacity: 0.5;
    text-align: center;
    height: 50px;
    margin: 35px;
    line-height: 50px;
}

.error > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.notification-text {
    padding-top: 15px;
    height: 160px;
}

.pagination {
    margin-bottom: 5px;
}



.panel-data {
    margin-top: 100px;
}

.feedback-table {
    margin-bottom: 0;
    background-color: white;
    margin-left: 10px;
}

.panel {
    height: 90%;
}

.label-font {
    font-size: 3vh;
    font-weight: bold;
}

#info-panel {
    background-color: #ebd8c6;
}
