<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/panel.css}"/>
    <title>Admin panel</title>
</head>
<body>
<div class="container-fluid">
    <div class="row header">
        <div class="col-12">
            <span class="title">Admin Panel</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-3 align-content-center" id="sideBar">
            <div class="list-group list-group-flush">
                <button type="button" class="list-group-item list-group-item-action align-content-center active">
                    Application version
                </button>
                <button type="button" class="list-group-item list-group-item-action align-content-center">Dapibus ac
                    facilisis in
                </button>
                <button type="button" class="list-group-item list-group-item-action align-content-center">Morbi leo
                    risus
                </button>
                <button type="button" class="list-group-item list-group-item-action align-content-center">Porta ac
                    consectetur ac
                </button>
                <button type="button" class="list-group-item list-group-item-action align-content-center">Vestibulum at
                    eros
                </button>
            </div>
        </div>
        <div class="col-9 ">
            <div class="row mt-5">
                <div class="col-md-4 offset-md-2 text-center error-block"></div>
            </div>
            <div class="row align-content-center version">
                <div class="col-2"></div>
                <div class="col-4">
                    <form class="app-form">
                        <div class="wrap-input100 m-b-30">
                            <input class="input100 app-version" type="text" name="version" placeholder="Application version"/>
                            <span></span>
                        </div>
                        <div class="container-login100-form-btn m-b-20">
                            <button class="login100-form-btn" type="submit">
                                Update
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>