<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Admin panel</title>
</head>
<body height="100%">
    <div class="container-fluid" height="100%">
        <div class="row">
            <div class="col-lg-2" style="border: thin solid black">
                <div class="btn-group-vertical">
                    <button type="button" class="btn-info" value="Application properties"/>
                    <button type="button" class="btn-info"  value="User"/>
                    <button type="button" class="btn-info" value="Room"/>
                </div>
            </div>
            <div class="col-lg-10" style="border: thin solid black">asds</div>
        </div>
    </div>
</body>
</html>