<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/panel.css}"/>
    <title>Admin panel</title>
</head>
<body>
<div class="container-fluid">
    <div class="row header">
        <div class="col-12">
            <span class="title">Admin Panel</span>
        </div>
    </div>
    <div class="row panel">
        <div class="col-lg-2 col-3 align-content-center" id="sideBar">
            <div class="list-group list-group-flush">
                <button type="button" id="version-btn"
                        class="list-group-item list-group-item-action align-content-center active">
                    Application version
                </button>
                <button type="button" id="notification-btn"
                        class="list-group-item list-group-item-action align-content-center">
                    Global notification
                </button>
                <button type="button" id="feedback-btn"
                        class="list-group-item list-group-item-action align-content-center">
                    Feedback
                </button>
                <button type="button" id="game-stats-btn"
                        class="list-group-item list-group-item-action align-content-center">
                    Game statistic
                </button>
                <button type="button" id="advertise-btn"
                        class="list-group-item list-group-item-action align-content-center">
                    Advertise settings
                </button>
            </div>
        </div>
        <div class="col-9 col-lg-10" id="info-panel">
            <div class="row align-content-center panel-data">
                <div class="col-2"></div>
                <div class="col-4">
                        <label class="label-font"> Application version</label>
                        <div class="wrap-input100 m-b-30">
                            <input class="input100 app-version" type="text" th:value="${version}" name="version"
                                   placeholder="Application version"/>
                            <span></span>
                        </div>
                        <div class="container-login100-form-btn m-b-20">
                            <button class="login100-form-btn" type="submit" onclick="updateVersion()">
                                Update
                            </button>
                        </div>
                    <div class="success collapse">
                        <span>Success</span>
                    </div>
                    <div class="error collapse">
                        <span>Error</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/panel_script.js}"></script>
</body>
</html>