<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}"/>
    <title>Admin panel</title>
</head>
<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form p-l-55 p-r-55 p-t-178" onsubmit="signIn()">
                <span class="login100-form-title">
                    Sign In
                </span>

                <div class="wrap-input100 m-b-30">
                    <input class="input100 login" type="text" name="username" placeholder="Username"/>
                    <span></span>
                </div>

                <div class="wrap-input100 m-b-50">
                    <input class="input100 password" type="password" name="pass" placeholder="Password"/>
                    <span></span>
                </div>

                <div class="container-login100-form-btn m-b-20">
                    <button class="login100-form-btn submit-btn">
                        Sign in
                    </button>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-4 offset-md-4 text-center error-block"></div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script>
<script src="/js/login_script.js"></script>
</body>
</html>