<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<div class="row align-content-center panel-data">
    <div class="col-1"></div>
    <div class="col-4">
        <label>Advertise delay in min:</label>
        <div class="wrap-input100 m-b-30 stat">
            <input class="input100 adv-delay" type="text" th:value="${delay}"/>
            <span></span>
        </div>
        <label>Type of advertise:</label>
        <div class="wrap-input100 m-b-30 stat">
            <div class="form-group">
                <select class="form-control" id="advertiseTypeSelect">
                    <option id='1'>Banner</option>
                    <option id='2'>Video</option>
                    <option id='3'>Developers</option>
                </select>
            </div>
        </div>
        <div class="container-login100-form-btn m-b-20">
            <button class="login100-form-btn" type="submit" onclick="updateAdv()">
                Update
            </button>
        </div>
        <div class="success collapse">
            <span>Success</span>
        </div>
        <div class="error collapse">
            <span>Error</span>
        </div>
    </div>
</div>
</body>
</html>