<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div class="col-12">
    <table class="table table-hover feedback-table">
        <thead class="table-info">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Text</th>
                <th scope="col">Login</th>
                <th scope="col">Email</th>
                <th scope="col">Registration date</th>
                <th scope="col">Money</th>
                <th scope="col">Device Version</th>
                <th scope="col">Device Name</th>
                <th scope="col">Device Model</th>
                <th scope="col">Device Manufacturer</th>
                <th scope="col">Product</th>
                <th scope="col">Created At</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <nav aria-label="Feedback results pages">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled" id="prev"><a class="page-link"  href="#" onclick='pageListener(id)'>Previous</a></li>
        <li class="page-item active" id="1"><a class="page-link"  href="#" onclick='pageListener(id)'>1</a></li>
        <li class="page-item" id="next"><a class="page-link"  href="#" onclick='pageListener(id)'>Next</a></li>
    </ul>
</nav>
</div>
</body>
</html>