<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/privacy.css}"/>
    <title>Политика конфиденциальности</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text">
            <div class="confidentiality">
                <h3>Политика конфиденциальности</h3>
                <ol>
                    <li>
                        Термин “личная информация”, используемый в настоящем документе,
                        определяется как любая информация, которая идентифицирует или
                        может использоваться для идентификации, связи или поиска человека,
                        к которому такая информация относится. Личная информация, которую мы
                        собираем, будет являться предметом настоящей политики конфиденциальности,
                        с вносимыми время от времени поправками.
                    </li>
                    <li>
                        Мы будем собирать личную информацию законными и справедливыми средствами
                        и, при необходимости, со знанием или согласием соответствующего лица.
                    </li>
                    <li>
                        Мы не запрашиваем номер Вашего телефона, Ваши личные сообщения или какую нибудь личную
                        информацию о Вас.
                    </li>
                    <li>
                        Безопасность Вашей персональной информации не будет нарушена.
                    </li>
                    <li>
                        Мы не просим информацию о местоположении через наше мобильное приложение.
                    </li>
                    <li>
                        Мы не отправляем на электронную почту рассылку новостей.
                    </li>
                    <li>
                        Мы не надаем в публичный доступ сообщения пользователей, списки друзей, а также пароли от
                        аккаунтов.
                    </li>
                </ol>
            </div>
            <div class="permissions">
                <h3>Требуемые разрешения</h3>
                <ol>
                    <li>
                        Ваша электронная почта используется только в целях восстановления пароля к аккаунту,
                        а также для отправки Вам письма только от разработчиков и только в целях получения
                        информации об ошибке, которую вы нам прислали.
                    </li>
                    <li>
                        При отправке сообщения об ошибке мы используем только информацию Вашего устройства, а именно:
                        версия ОС, имя устройства, модель устройства, производитель устройства. Эти данные используются
                        только разработчиками и только в целях немедленного исправления ошибки.
                    </li>
                </ol>
            </div>
            <div class="contacts">
                <h4 class="contacts">Контакты:</h4>
                <p>
                    <b>e-mail</b>: info.hedbanz@gmail.com <br/>
                    <b>telegram</b>: https://t.me/joinchat/DxRXGlBRkYwwxCbkX1UiBg
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>